@model NIBO.Web.ViewModels.EventoView

@{
    ViewData["Titulo"] = "Evento";
}

@using (Html.BeginForm())
   {

        @Html.ValidationSummary()
        <fieldset>
        <legend>Formulário de Solicitação de  Orçamento</legend>
        <ol>
        <li>
        @Html.LabelFor(m=>m.Nome)
        @Html.TextBoxFor(m=>m.Nome, new { @readonly="readonly" })
        </li>
        </ol>
        <br/>
        
        <br/>
        <br/>
        <p>
        <input type="submit" value="Excluir" />
        &nbsp;
        &nbsp;
        <a asp-action="Index">Voltar</a>
        </p>
        </fieldset>
      
  }
