@model NIBO.Web.ViewModels.EquipeView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titulo"] = "Equipes";
}
<h2>Editar Evento</h2>
    
    @using (Html.BeginForm())
   {
       
       
        @Html.ValidationSummary()
        <fieldset>
        <ol>
        <li>
        @Html.LabelFor(m=>m.Nome)
        @Html.TextBoxFor(m=>m.Nome)
        </li>
        </ol>
        <br/>
        @ViewBag.MsgRetorno
        <br/>
        <br/>
        <p>
        <input type="submit" value="Atualizar" />
        &nbsp;
        &nbsp;
        <a asp-action="Index">Voltar</a>
        </p>
        </fieldset>
      
  }